In [6]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os
from datetime import datetime, timedelta
from dateutil.relativedelta import relativedelta
from glob import glob

In [7]:
def is_consecutive(days):
    if days>=1 and days<=3:
        return True
    else:
        return None

In [8]:
def EHF(df):
    p95 = df['temperature_mean'].quantile(0.9)
    data = list()
    for i in range(29, len(df['temperature_mean'])):
        try:
            time = df.index[i+3]
            temperature_mean = df['temperature_mean'].iloc[i+3]
            temperature_min = df['temperature_min'].iloc[i+3]
            temperature_max = df['temperature_max'].iloc[i+3]
            last3days = df['temperature_mean'].iloc[i:i+3]
            last30days = df['temperature_mean'].iloc[i-29:i]
            
            ehfsig = last3days.mean() - p95
            ehfacl = last3days.mean() - last30days.mean()
        
            #print(i)
            #print((i,i+3))
            #print(last3days)
            #print((i-29,i))
            #print(last30days)
            #print(time)
            
            EHF = max(0, ehfsig) * max(1, ehfacl)
            data.append({
                'time':time, 'temperature_mean':temperature_mean, 'temperature_min':temperature_min, 'temperature_max':temperature_max, 'ehfsig':ehfsig, 'ehfacl':ehfacl, 'EHF':EHF
            })

        except:
            pass
    df_ehf = pd.DataFrame(data)
    df_ehf.index = df_ehf.time
    df_ehf['severity'] = df_ehf[df_ehf.EHF>0]['EHF'] / df_ehf[df_ehf.EHF>0]['EHF'].quantile(0.85)
    return df_ehf

In [20]:
df_anom = pd.read_csv("data/pos/tmean_anomaly_groups_kmeans.csv", index_col=0)
df_clim = pd.read_csv("data/pos/tmean_clim_groups_kmeans.csv", index_col=0)
df_tmean = pd.read_csv("data/pos/tmean_groups_kmeans.csv", index_col=0)
citys = pd.read_csv("data/statics/cidades.csv", index_col=2).drop(columns=['Unnamed: 0'])

In [21]:
citys

                      names  nans        lat        lon
codes
83836                 IRATI   4.0 -25.502778 -50.637500
83912              CRUZALTA   5.6 -28.626111 -53.613889
83964     ENCRUZILHADADOSUL   4.5 -30.543056 -52.524722
83948                TORRES   7.6 -29.350278 -49.716667
83919              BOMJESUS   2.5 -28.669444 -50.441944
83980                  BAGE   1.5 -31.305556 -54.119444
83967           PORTOALEGRE   2.8 -30.053611 -51.174767
83766              LONDRINA   9.2 -23.325556 -51.141667
83914            PASSOFUNDO   1.7 -28.228611 -52.411944
83842              CURITIBA   2.0 -25.448611 -49.230556
83985               PELOTAS   8.9 -31.783333 -52.416667
83907        SAOLUIZGONZAGA   2.2 -28.417222 -54.962500
83936            SANTAMARIA   0.5 -29.724722 -53.720556
83767               MARINGA   2.8 -23.405278 -51.932778
83942           CAXIASDOSUL   7.7 -29.196111 -51.186389
83997  SANTAVITORIADOPALMAR   1.1 -33.531667 -53.350278
83897         FLORIANOPOLIS  10.3 -27.602500 -48.620278

In [22]:
df_tmean

               G1         G2         G3         G4
1991-01-01  22.30  21.250000  24.350000  23.620000
1991-01-02  23.80  22.100000  24.583333  26.200000
1991-01-03  23.95  20.766667  22.083333  25.500000
1991-01-04  22.95  21.566667  20.983333  22.933333
1991-01-05  22.85  20.366667  21.516667  24.600000
...           ...        ...        ...        ...
2020-12-27  24.00  23.333333  24.500000  21.875000
2020-12-28  24.30  23.525000  24.620000  21.820000
2020-12-29  24.60  22.000000  25.280000  23.620000
2020-12-30  25.30  24.325000  26.080000  24.560000
2020-12-31  24.10  23.175000  21.240000  21.800000

[10950 rows x 4 columns]

In [19]:
for code in citys.index:
    print

83836

In [9]:
df = pd.read_csv('./1991_2020.csv',index_col=0,usecols=[0, 4, 5, 6, 10, 11, 12, 13])
#df = df[df['latitude'] <= -23.325556]
df.index = pd.to_datetime(df.index)
df = df.sort_index().dropna()
df['temperature_mean'] = df[['temperature_max', 'temperature_min']].mean(axis=1)
for station_name in df.station_name.unique():
    df_poa = df[df.station_name == station_name]
    df_EHF = EHF(df_poa)
    df_EHF = df_EHF[df_EHF['EHF']>0]
    name = '_'.join(station_name.split(' '))
    path_out = f'./EHF_{name}.csv'
    print(path_out)
    df_EHF.to_csv(path_out)
# times = df_EHF.index
# heatwaves = list()
# periods = list()

# c = 0
# for i, timenow in enumerate(times):
#     if i == 0:
#         pass
#     else:
#         days = (timenow - times[i-1]).days
#         if is_consecutive(days):
#             heatwaves.append(timenow)
#             c += 1
#         else:
#             if c>=1:
#                 periods.append(heatwaves)
#             c = 0
#             heatwaves = list()

./EHF_PORTO_ALEGRE.csv
./EHF_ENCRUZILHADA_DO_SUL.csv
./EHF_SANTA_MARIA.csv
./EHF_MARINGA.csv
./EHF_FLORIANOPOLIS.csv
./EHF_SAO_LUIZ_GONZAGA.csv
./EHF_TORRES.csv
./EHF_CRUZ_ALTA.csv
./EHF_PELOTAS.csv
./EHF_BOM_JESUS.csv
./EHF_URUGUAIANA.csv
./EHF_BAGE.csv
./EHF_CURITIBA.csv
./EHF_PASSO_FUNDO.csv
./EHF_SANTA_VITORIA_DO_PALMAR.csv
./EHF_IRATI.csv
./EHF_LONDRINA.csv
./EHF_CAXIAS_DO_SUL.csv

,time,temperature_mean,temperature_min,temperature_max,ehfsig,ehfacl,EHF,severity
time,,,,,,,,
1991-02-11,1991-02-11,29.45,22.4,36.5,0.066667,2.202874,0.146858,0.018655
1991-02-12,1991-02-12,24.10,21.0,27.2,1.116667,3.239080,3.616973,0.459466
1991-02-13,1991-02-13,22.45,17.4,27.5,0.333333,2.354023,0.784674,0.099678
1991-03-01,1991-03-01,27.30,21.4,33.2,1.250000,3.537931,4.422414,0.561782
1991-03-02,1991-03-02,27.10,22.7,31.5,1.383333,3.531609,4.885393,0.620594
...,...,...,...,...,...,...,...,...
2020-04-01,2020-04-01,25.60,21.8,29.4,0.233333,1.609195,0.375479,0.047697
2020-11-26,2020-11-26,24.20,20.5,27.9,0.016667,5.495977,0.091600,0.011636
2020-11-27,2020-11-27,23.40,21.1,25.7,0.133333,5.681609,0.757548,0.096232
2020-12-13,2020-12-13,28.00,21.7,34.3,0.800000,4.093103,3.274483,0.415960
2020-12-14,2020-12-14,22.50,19.5,25.5,1.650000,4.901724,8.087845,1.027404

In [141]:
periods

[[Timestamp('1991-02-12 00:00:00'), Timestamp('1991-02-13 00:00:00')],
 [Timestamp('1991-03-02 00:00:00'),
  Timestamp('1991-03-03 00:00:00'),
  Timestamp('1991-03-04 00:00:00')],
 [Timestamp('1991-03-10 00:00:00'), Timestamp('1991-03-11 00:00:00')],
 [Timestamp('1991-10-17 00:00:00')],
 [Timestamp('1991-11-26 00:00:00')],
 [Timestamp('1991-12-12 00:00:00')],
 [Timestamp('1991-12-20 00:00:00'),
  Timestamp('1991-12-21 00:00:00'),
  Timestamp('1991-12-22 00:00:00'),
  Timestamp('1991-12-23 00:00:00'),
  Timestamp('1991-12-24 00:00:00'),
  Timestamp('1991-12-25 00:00:00')],
 [Timestamp('1992-01-12 00:00:00')],
 [Timestamp('1992-01-30 00:00:00'),
  Timestamp('1992-01-31 00:00:00'),
  Timestamp('1992-02-01 00:00:00'),
  Timestamp('1992-02-02 00:00:00'),
  Timestamp('1992-02-03 00:00:00'),
  Timestamp('1992-02-04 00:00:00'),
  Timestamp('1992-02-06 00:00:00'),
  Timestamp('1992-02-07 00:00:00'),
  Timestamp('1992-02-08 00:00:00'),
  Timestamp('1992-02-09 00:00:00'),
  Timestamp('1992-02-10 00:00:00'),
  Timestamp('1992-02-11 00:00:00'),
  Timestamp('1992-02-12 00:00:00'),
  Timestamp('1992-02-13 00:00:00'),
  Timestamp('1992-02-14 00:00:00'),
  Timestamp('1992-02-15 00:00:00')],
 [Timestamp('1992-02-20 00:00:00'),
  Timestamp('1992-02-21 00:00:00'),
  Timestamp('1992-02-22 00:00:00'),
  Timestamp('1992-02-23 00:00:00'),
  Timestamp('1992-02-24 00:00:00')],
 [Timestamp('1992-03-11 00:00:00'),
  Timestamp('1992-03-12 00:00:00'),
  Timestamp('1992-03-13 00:00:00'),
  Timestamp('1992-03-14 00:00:00'),
  Timestamp('1992-03-15 00:00:00'),
  Timestamp('1992-03-16 00:00:00')],
 [Timestamp('1992-12-25 00:00:00')],
 [Timestamp('1993-01-01 00:00:00'), Timestamp('1993-01-02 00:00:00')],
 [Timestamp('1993-01-15 00:00:00'),
  Timestamp('1993-01-16 00:00:00'),
  Timestamp('1993-01-17 00:00:00')],
 [Timestamp('1993-01-24 00:00:00'),
  Timestamp('1993-01-25 00:00:00'),
  Timestamp('1993-01-26 00:00:00'),
  Timestamp('1993-01-27 00:00:00'),
  Timestamp('1993-01-28 00:00:00'),
  Timestamp('1993-01-29 00:00:00')],
 [Timestamp('1994-02-04 00:00:00')],
 [Timestamp('1994-12-13 00:00:00'),
  Timestamp('1994-12-14 00:00:00'),
  Timestamp('1994-12-15 00:00:00'),
  Timestamp('1994-12-16 00:00:00')],
 [Timestamp('1994-12-28 00:00:00'),
  Timestamp('1994-12-29 00:00:00'),
  Timestamp('1994-12-30 00:00:00'),
  Timestamp('1994-12-31 00:00:00'),
  Timestamp('1995-01-03 00:00:00'),
  Timestamp('1995-01-04 00:00:00'),
  Timestamp('1995-01-05 00:00:00'),
  Timestamp('1995-01-06 00:00:00'),
  Timestamp('1995-01-07 00:00:00'),
  Timestamp('1995-01-08 00:00:00'),
  Timestamp('1995-01-09 00:00:00'),
  Timestamp('1995-01-10 00:00:00')],
 [Timestamp('1995-04-10 00:00:00'), Timestamp('1995-04-11 00:00:00')],
 [Timestamp('1995-11-08 00:00:00'),
  Timestamp('1995-11-09 00:00:00'),
  Timestamp('1995-11-10 00:00:00'),
  Timestamp('1995-11-11 00:00:00')],
 [Timestamp('1995-12-20 00:00:00'),
  Timestamp('1995-12-21 00:00:00'),
  Timestamp('1995-12-22 00:00:00'),
  Timestamp('1995-12-23 00:00:00'),
  Timestamp('1995-12-24 00:00:00')],
 [Timestamp('1996-01-12 00:00:00'),
  Timestamp('1996-01-13 00:00:00'),
  Timestamp('1996-01-14 00:00:00'),
  Timestamp('1996-01-15 00:00:00')],
 [Timestamp('1996-02-22 00:00:00'),
  Timestamp('1996-02-23 00:00:00'),
  Timestamp('1996-02-24 00:00:00'),
  Timestamp('1996-02-25 00:00:00'),
  Timestamp('1996-02-26 00:00:00')],
 [Timestamp('1996-12-06 00:00:00')],
 [Timestamp('1997-01-01 00:00:00'), Timestamp('1997-01-02 00:00:00')],
 [Timestamp('1997-01-07 00:00:00'),
  Timestamp('1997-01-08 00:00:00'),
  Timestamp('1997-01-09 00:00:00'),
  Timestamp('1997-01-10 00:00:00'),
  Timestamp('1997-01-11 00:00:00'),
  Timestamp('1997-01-14 00:00:00'),
  Timestamp('1997-01-15 00:00:00'),
  Timestamp('1997-01-16 00:00:00'),
  Timestamp('1997-01-17 00:00:00'),
  Timestamp('1997-01-18 00:00:00'),
  Timestamp('1997-01-19 00:00:00'),
  Timestamp('1997-01-20 00:00:00')],
 [Timestamp('1997-01-29 00:00:00'),
  Timestamp('1997-01-30 00:00:00'),
  Timestamp('1997-01-31 00:00:00'),
  Timestamp('1997-02-01 00:00:00')],
 [Timestamp('1997-02-07 00:00:00'),
  Timestamp('1997-02-10 00:00:00'),
  Timestamp('1997-02-11 00:00:00')],
 [Timestamp('1997-03-13 00:00:00')],
 [Timestamp('1997-12-14 00:00:00'),
  Timestamp('1997-12-15 00:00:00'),
  Timestamp('1997-12-16 00:00:00')],
 [Timestamp('1997-12-22 00:00:00'),
  Timestamp('1997-12-23 00:00:00'),
  Timestamp('1997-12-24 00:00:00')],
 [Timestamp('1998-01-23 00:00:00')],
 [Timestamp('1998-01-30 00:00:00')],
 [Timestamp('1998-03-07 00:00:00'),
  Timestamp('1998-03-08 00:00:00'),
  Timestamp('1998-03-09 00:00:00'),
  Timestamp('1998-03-10 00:00:00'),
  Timestamp('1998-03-11 00:00:00')],
 [Timestamp('1998-12-30 00:00:00')],
 [Timestamp('1999-01-21 00:00:00'),
  Timestamp('1999-01-22 00:00:00'),
  Timestamp('1999-01-23 00:00:00'),
  Timestamp('1999-01-24 00:00:00'),
  Timestamp('1999-01-25 00:00:00'),
  Timestamp('1999-01-26 00:00:00'),
  Timestamp('1999-01-27 00:00:00'),
  Timestamp('1999-01-28 00:00:00')],
 [Timestamp('1999-03-03 00:00:00'),
  Timestamp('1999-03-04 00:00:00'),
  Timestamp('1999-03-05 00:00:00'),
  Timestamp('1999-03-06 00:00:00'),
  Timestamp('1999-03-07 00:00:00'),
  Timestamp('1999-03-08 00:00:00'),
  Timestamp('1999-03-09 00:00:00'),
  Timestamp('1999-03-10 00:00:00'),
  Timestamp('1999-03-11 00:00:00'),
  Timestamp('1999-03-12 00:00:00')],
 [Timestamp('1999-03-21 00:00:00')],
 [Timestamp('1999-12-29 00:00:00'), Timestamp('1999-12-30 00:00:00')],
 [Timestamp('2000-01-10 00:00:00'),
  Timestamp('2000-01-11 00:00:00'),
  Timestamp('2000-01-12 00:00:00'),
  Timestamp('2000-01-13 00:00:00'),
  Timestamp('2000-01-14 00:00:00'),
  Timestamp('2000-01-15 00:00:00'),
  Timestamp('2000-01-16 00:00:00'),
  Timestamp('2000-01-17 00:00:00'),
  Timestamp('2000-01-18 00:00:00'),
  Timestamp('2000-01-19 00:00:00')],
 [Timestamp('2000-02-13 00:00:00'), Timestamp('2000-02-14 00:00:00')],
 [Timestamp('2000-03-01 00:00:00')],
 [Timestamp('2000-12-11 00:00:00'),
  Timestamp('2000-12-14 00:00:00'),
  Timestamp('2000-12-15 00:00:00')],
 [Timestamp('2000-12-28 00:00:00'), Timestamp('2000-12-29 00:00:00')],
 [Timestamp('2001-10-30 00:00:00')],
 [Timestamp('2002-01-14 00:00:00')],
 [Timestamp('2002-01-31 00:00:00'), Timestamp('2002-02-01 00:00:00')],
 [Timestamp('2002-03-02 00:00:00')],
 [Timestamp('2002-03-07 00:00:00'),
  Timestamp('2002-03-09 00:00:00'),
  Timestamp('2002-03-10 00:00:00'),
  Timestamp('2002-03-11 00:00:00'),
  Timestamp('2002-03-12 00:00:00'),
  Timestamp('2002-03-13 00:00:00'),
  Timestamp('2002-03-14 00:00:00'),
  Timestamp('2002-03-15 00:00:00'),
  Timestamp('2002-03-16 00:00:00'),
  Timestamp('2002-03-17 00:00:00'),
  Timestamp('2002-03-18 00:00:00'),
  Timestamp('2002-03-19 00:00:00'),
  Timestamp('2002-03-20 00:00:00')],
 [Timestamp('2002-12-31 00:00:00'),
  Timestamp('2003-01-01 00:00:00'),
  Timestamp('2003-01-02 00:00:00')],
 [Timestamp('2003-01-18 00:00:00'),
  Timestamp('2003-01-19 00:00:00'),
  Timestamp('2003-01-20 00:00:00')],
 [Timestamp('2003-02-02 00:00:00'),
  Timestamp('2003-02-03 00:00:00'),
  Timestamp('2003-02-04 00:00:00'),
  Timestamp('2003-02-05 00:00:00'),
  Timestamp('2003-02-06 00:00:00'),
  Timestamp('2003-02-07 00:00:00'),
  Timestamp('2003-02-08 00:00:00'),
  Timestamp('2003-02-09 00:00:00'),
  Timestamp('2003-02-10 00:00:00'),
  Timestamp('2003-02-11 00:00:00'),
  Timestamp('2003-02-12 00:00:00'),
  Timestamp('2003-02-13 00:00:00'),
  Timestamp('2003-02-14 00:00:00')],
 [Timestamp('2003-02-27 00:00:00'),
  Timestamp('2003-02-28 00:00:00'),
  Timestamp('2003-03-01 00:00:00'),
  Timestamp('2003-03-02 00:00:00'),
  Timestamp('2003-03-03 00:00:00')],
 [Timestamp('2003-03-08 00:00:00'),
  Timestamp('2003-03-09 00:00:00'),
  Timestamp('2003-03-10 00:00:00'),
  Timestamp('2003-03-11 00:00:00'),
  Timestamp('2003-03-12 00:00:00'),
  Timestamp('2003-03-13 00:00:00')],
 [Timestamp('2004-01-09 00:00:00'),
  Timestamp('2004-01-10 00:00:00'),
  Timestamp('2004-01-11 00:00:00')],
 [Timestamp('2004-01-31 00:00:00'),
  Timestamp('2004-02-01 00:00:00'),
  Timestamp('2004-02-02 00:00:00'),
  Timestamp('2004-02-03 00:00:00'),
  Timestamp('2004-02-04 00:00:00')],
 [Timestamp('2004-04-09 00:00:00')],
 [Timestamp('2004-04-16 00:00:00'), Timestamp('2004-04-17 00:00:00')],
 [Timestamp('2005-01-07 00:00:00'),
  Timestamp('2005-01-08 00:00:00'),
  Timestamp('2005-01-09 00:00:00'),
  Timestamp('2005-01-10 00:00:00'),
  Timestamp('2005-01-11 00:00:00'),
  Timestamp('2005-01-12 00:00:00'),
  Timestamp('2005-01-13 00:00:00'),
  Timestamp('2005-01-14 00:00:00'),
  Timestamp('2005-01-15 00:00:00'),
  Timestamp('2005-01-16 00:00:00')],
 [Timestamp('2005-02-01 00:00:00'), Timestamp('2005-02-02 00:00:00')],
 [Timestamp('2005-02-12 00:00:00')],
 [Timestamp('2005-02-21 00:00:00'),
  Timestamp('2005-02-22 00:00:00'),
  Timestamp('2005-02-23 00:00:00'),
  Timestamp('2005-02-24 00:00:00'),
  Timestamp('2005-02-25 00:00:00'),
  Timestamp('2005-02-26 00:00:00')],
 [Timestamp('2005-03-09 00:00:00'),
  Timestamp('2005-03-10 00:00:00'),
  Timestamp('2005-03-11 00:00:00'),
  Timestamp('2005-03-12 00:00:00')],
 [Timestamp('2005-11-25 00:00:00')],
 [Timestamp('2006-01-10 00:00:00'),
  Timestamp('2006-01-11 00:00:00'),
  Timestamp('2006-01-12 00:00:00'),
  Timestamp('2006-01-13 00:00:00'),
  Timestamp('2006-01-14 00:00:00'),
  Timestamp('2006-01-15 00:00:00'),
  Timestamp('2006-01-16 00:00:00'),
  Timestamp('2006-01-17 00:00:00'),
  Timestamp('2006-01-18 00:00:00')],
 [Timestamp('2006-02-01 00:00:00')],
 [Timestamp('2006-02-06 00:00:00'), Timestamp('2006-02-07 00:00:00')],
 [Timestamp('2006-03-17 00:00:00'),
  Timestamp('2006-03-18 00:00:00'),
  Timestamp('2006-03-19 00:00:00'),
  Timestamp('2006-03-20 00:00:00')],
 [Timestamp('2006-12-15 00:00:00'),
  Timestamp('2006-12-16 00:00:00'),
  Timestamp('2006-12-17 00:00:00'),
  Timestamp('2006-12-18 00:00:00'),
  Timestamp('2006-12-19 00:00:00'),
  Timestamp('2006-12-20 00:00:00'),
  Timestamp('2006-12-21 00:00:00'),
  Timestamp('2006-12-22 00:00:00')],
 [Timestamp('2007-01-01 00:00:00'),
  Timestamp('2007-01-02 00:00:00'),
  Timestamp('2007-01-03 00:00:00'),
  Timestamp('2007-01-04 00:00:00'),
  Timestamp('2007-01-05 00:00:00'),
  Timestamp('2007-01-06 00:00:00'),
  Timestamp('2007-01-07 00:00:00')],
 [Timestamp('2007-01-12 00:00:00'),
  Timestamp('2007-01-13 00:00:00'),
  Timestamp('2007-01-14 00:00:00')],
 [Timestamp('2007-01-27 00:00:00'), Timestamp('2007-01-28 00:00:00')],
 [Timestamp('2007-02-06 00:00:00'),
  Timestamp('2007-02-07 00:00:00'),
  Timestamp('2007-02-08 00:00:00')],
 [Timestamp('2007-02-18 00:00:00')],
 [Timestamp('2007-03-01 00:00:00'),
  Timestamp('2007-03-02 00:00:00'),
  Timestamp('2007-03-03 00:00:00')],
 [Timestamp('2007-03-08 00:00:00'),
  Timestamp('2007-03-09 00:00:00'),
  Timestamp('2007-03-10 00:00:00')],
 [Timestamp('2007-03-30 00:00:00'),
  Timestamp('2007-03-31 00:00:00'),
  Timestamp('2007-04-01 00:00:00')],
 [Timestamp('2007-12-25 00:00:00'),
  Timestamp('2007-12-26 00:00:00'),
  Timestamp('2007-12-27 00:00:00'),
  Timestamp('2007-12-28 00:00:00'),
  Timestamp('2007-12-29 00:00:00'),
  Timestamp('2007-12-30 00:00:00')],
 [Timestamp('2008-01-04 00:00:00'),
  Timestamp('2008-01-05 00:00:00'),
  Timestamp('2008-01-06 00:00:00')],
 [Timestamp('2008-01-12 00:00:00')],
 [Timestamp('2008-03-11 00:00:00')],
 [Timestamp('2008-03-22 00:00:00'), Timestamp('2008-03-23 00:00:00')],
 [Timestamp('2008-12-24 00:00:00')],
 [Timestamp('2009-01-29 00:00:00'),
  Timestamp('2009-01-30 00:00:00'),
  Timestamp('2009-01-31 00:00:00')],
 [Timestamp('2009-02-20 00:00:00'),
  Timestamp('2009-02-21 00:00:00'),
  Timestamp('2009-02-22 00:00:00'),
  Timestamp('2009-02-23 00:00:00')],
 [Timestamp('2009-11-03 00:00:00')],
 [Timestamp('2009-12-23 00:00:00'),
  Timestamp('2009-12-24 00:00:00'),
  Timestamp('2009-12-25 00:00:00'),
  Timestamp('2009-12-26 00:00:00'),
  Timestamp('2009-12-27 00:00:00'),
  Timestamp('2009-12-28 00:00:00'),
  Timestamp('2009-12-29 00:00:00'),
  Timestamp('2009-12-30 00:00:00'),
  Timestamp('2009-12-31 00:00:00'),
  Timestamp('2010-01-01 00:00:00')],
 [Timestamp('2010-01-13 00:00:00')],
 [Timestamp('2010-02-02 00:00:00'),
  Timestamp('2010-02-03 00:00:00'),
  Timestamp('2010-02-04 00:00:00'),
  Timestamp('2010-02-05 00:00:00'),
  Timestamp('2010-02-06 00:00:00'),
  Timestamp('2010-02-07 00:00:00'),
  Timestamp('2010-02-08 00:00:00'),
  Timestamp('2010-02-09 00:00:00'),
  Timestamp('2010-02-10 00:00:00'),
  Timestamp('2010-02-11 00:00:00'),
  Timestamp('2010-02-12 00:00:00'),
  Timestamp('2010-02-13 00:00:00'),
  Timestamp('2010-02-14 00:00:00'),
  Timestamp('2010-02-15 00:00:00'),
  Timestamp('2010-02-16 00:00:00')],
 [Timestamp('2010-02-22 00:00:00'),
  Timestamp('2010-02-23 00:00:00'),
  Timestamp('2010-02-24 00:00:00')],
 [Timestamp('2010-12-26 00:00:00'), Timestamp('2010-12-27 00:00:00')],
 [Timestamp('2011-01-07 00:00:00'),
  Timestamp('2011-01-08 00:00:00'),
  Timestamp('2011-01-09 00:00:00'),
  Timestamp('2011-01-10 00:00:00'),
  Timestamp('2011-01-11 00:00:00'),
  Timestamp('2011-01-12 00:00:00')],
 [Timestamp('2011-01-18 00:00:00'),
  Timestamp('2011-01-19 00:00:00'),
  Timestamp('2011-01-20 00:00:00')],
 [Timestamp('2011-01-27 00:00:00'),
  Timestamp('2011-01-28 00:00:00'),
  Timestamp('2011-01-29 00:00:00'),
  Timestamp('2011-01-30 00:00:00'),
  Timestamp('2011-01-31 00:00:00'),
  Timestamp('2011-02-01 00:00:00'),
  Timestamp('2011-02-02 00:00:00')],
 [Timestamp('2011-02-07 00:00:00'),
  Timestamp('2011-02-08 00:00:00'),
  Timestamp('2011-02-09 00:00:00')],
 [Timestamp('2011-02-21 00:00:00'), Timestamp('2011-02-22 00:00:00')],
 [Timestamp('2011-11-30 00:00:00'), Timestamp('2011-12-01 00:00:00')],
 [Timestamp('2011-12-23 00:00:00'), Timestamp('2011-12-24 00:00:00')],
 [Timestamp('2012-01-11 00:00:00'),
  Timestamp('2012-01-12 00:00:00'),
  Timestamp('2012-01-13 00:00:00'),
  Timestamp('2012-01-14 00:00:00')],
 [Timestamp('2012-01-23 00:00:00'),
  Timestamp('2012-01-24 00:00:00'),
  Timestamp('2012-01-25 00:00:00'),
  Timestamp('2012-01-26 00:00:00')],
 [Timestamp('2012-02-03 00:00:00'),
  Timestamp('2012-02-04 00:00:00'),
  Timestamp('2012-02-05 00:00:00'),
  Timestamp('2012-02-06 00:00:00'),
  Timestamp('2012-02-07 00:00:00'),
  Timestamp('2012-02-08 00:00:00'),
  Timestamp('2012-02-09 00:00:00'),
  Timestamp('2012-02-10 00:00:00'),
  Timestamp('2012-02-11 00:00:00')],
 [Timestamp('2012-02-17 00:00:00'),
  Timestamp('2012-02-18 00:00:00'),
  Timestamp('2012-02-19 00:00:00'),
  Timestamp('2012-02-20 00:00:00'),
  Timestamp('2012-02-21 00:00:00'),
  Timestamp('2012-02-22 00:00:00'),
  Timestamp('2012-02-23 00:00:00'),
  Timestamp('2012-02-24 00:00:00')],
 [Timestamp('2012-03-08 00:00:00'),
  Timestamp('2012-03-09 00:00:00'),
  Timestamp('2012-03-10 00:00:00'),
  Timestamp('2012-03-11 00:00:00'),
  Timestamp('2012-03-12 00:00:00'),
  Timestamp('2012-03-13 00:00:00'),
  Timestamp('2012-03-14 00:00:00'),
  Timestamp('2012-03-15 00:00:00')],
 [Timestamp('2012-11-11 00:00:00'), Timestamp('2012-11-12 00:00:00')],
 [Timestamp('2012-12-07 00:00:00'),
  Timestamp('2012-12-08 00:00:00'),
  Timestamp('2012-12-09 00:00:00')],
 [Timestamp('2012-12-18 00:00:00'),
  Timestamp('2012-12-19 00:00:00'),
  Timestamp('2012-12-20 00:00:00'),
  Timestamp('2012-12-21 00:00:00'),
  Timestamp('2012-12-22 00:00:00')],
 [Timestamp('2012-12-27 00:00:00')],
 [Timestamp('2013-01-26 00:00:00')],
 [Timestamp('2013-02-01 00:00:00'),
  Timestamp('2013-02-02 00:00:00'),
  Timestamp('2013-02-03 00:00:00')],
 [Timestamp('2013-02-14 00:00:00'),
  Timestamp('2013-02-15 00:00:00'),
  Timestamp('2013-02-16 00:00:00'),
  Timestamp('2013-02-17 00:00:00'),
  Timestamp('2013-02-18 00:00:00'),
  Timestamp('2013-02-19 00:00:00'),
  Timestamp('2013-02-20 00:00:00'),
  Timestamp('2013-02-21 00:00:00')],
 [Timestamp('2013-12-28 00:00:00'),
  Timestamp('2013-12-29 00:00:00'),
  Timestamp('2013-12-30 00:00:00'),
  Timestamp('2013-12-31 00:00:00'),
  Timestamp('2014-01-01 00:00:00'),
  Timestamp('2014-01-02 00:00:00'),
  Timestamp('2014-01-03 00:00:00'),
  Timestamp('2014-01-04 00:00:00')],
 [Timestamp('2014-01-09 00:00:00'),
  Timestamp('2014-01-10 00:00:00'),
  Timestamp('2014-01-11 00:00:00')],
 [Timestamp('2014-01-20 00:00:00'),
  Timestamp('2014-01-21 00:00:00'),
  Timestamp('2014-01-22 00:00:00'),
  Timestamp('2014-01-23 00:00:00'),
  Timestamp('2014-01-24 00:00:00'),
  Timestamp('2014-01-25 00:00:00'),
  Timestamp('2014-01-26 00:00:00'),
  Timestamp('2014-01-29 00:00:00'),
  Timestamp('2014-01-30 00:00:00'),
  Timestamp('2014-01-31 00:00:00'),
  Timestamp('2014-02-01 00:00:00'),
  Timestamp('2014-02-02 00:00:00'),
  Timestamp('2014-02-03 00:00:00'),
  Timestamp('2014-02-04 00:00:00'),
  Timestamp('2014-02-05 00:00:00'),
  Timestamp('2014-02-06 00:00:00'),
  Timestamp('2014-02-07 00:00:00'),
  Timestamp('2014-02-08 00:00:00'),
  Timestamp('2014-02-09 00:00:00'),
  Timestamp('2014-02-10 00:00:00'),
  Timestamp('2014-02-11 00:00:00'),
  Timestamp('2014-02-12 00:00:00'),
  Timestamp('2014-02-13 00:00:00'),
  Timestamp('2014-02-14 00:00:00')],
 [Timestamp('2014-02-25 00:00:00')],
 [Timestamp('2014-10-31 00:00:00')],
 [Timestamp('2014-12-03 00:00:00'), Timestamp('2014-12-04 00:00:00')],
 [Timestamp('2014-12-10 00:00:00'), Timestamp('2014-12-11 00:00:00')],
 [Timestamp('2015-01-02 00:00:00')],
 [Timestamp('2015-01-08 00:00:00'),
  Timestamp('2015-01-09 00:00:00'),
  Timestamp('2015-01-10 00:00:00'),
  Timestamp('2015-01-11 00:00:00'),
  Timestamp('2015-01-12 00:00:00'),
  Timestamp('2015-01-13 00:00:00'),
  Timestamp('2015-01-14 00:00:00'),
  Timestamp('2015-01-15 00:00:00')],
 [Timestamp('2015-01-20 00:00:00')],
 [Timestamp('2015-01-28 00:00:00'),
  Timestamp('2015-01-29 00:00:00'),
  Timestamp('2015-01-30 00:00:00')],
 [Timestamp('2015-03-06 00:00:00')],
 [Timestamp('2015-03-17 00:00:00')],
 [Timestamp('2015-08-10 00:00:00')],
 [Timestamp('2015-12-31 00:00:00'), Timestamp('2016-01-01 00:00:00')],
 [Timestamp('2016-01-07 00:00:00'), Timestamp('2016-01-08 00:00:00')],
 [Timestamp('2016-01-14 00:00:00'),
  Timestamp('2016-01-15 00:00:00'),
  Timestamp('2016-01-16 00:00:00'),
  Timestamp('2016-01-18 00:00:00'),
  Timestamp('2016-01-19 00:00:00'),
  Timestamp('2016-01-20 00:00:00'),
  Timestamp('2016-01-21 00:00:00'),
  Timestamp('2016-01-22 00:00:00'),
  Timestamp('2016-01-23 00:00:00'),
  Timestamp('2016-01-25 00:00:00'),
  Timestamp('2016-01-26 00:00:00'),
  Timestamp('2016-01-27 00:00:00')],
 [Timestamp('2016-02-10 00:00:00'),
  Timestamp('2016-02-11 00:00:00'),
  Timestamp('2016-02-12 00:00:00'),
  Timestamp('2016-02-13 00:00:00'),
  Timestamp('2016-02-14 00:00:00'),
  Timestamp('2016-02-15 00:00:00'),
  Timestamp('2016-02-16 00:00:00'),
  Timestamp('2016-02-17 00:00:00'),
  Timestamp('2016-02-18 00:00:00'),
  Timestamp('2016-02-19 00:00:00'),
  Timestamp('2016-02-20 00:00:00'),
  Timestamp('2016-02-21 00:00:00'),
  Timestamp('2016-02-23 00:00:00'),
  Timestamp('2016-02-24 00:00:00'),
  Timestamp('2016-02-25 00:00:00'),
  Timestamp('2016-02-26 00:00:00'),
  Timestamp('2016-02-27 00:00:00'),
  Timestamp('2016-02-28 00:00:00'),
  Timestamp('2016-03-01 00:00:00')],
 [Timestamp('2016-03-20 00:00:00')],
 [Timestamp('2016-04-18 00:00:00'),
  Timestamp('2016-04-19 00:00:00'),
  Timestamp('2016-04-20 00:00:00'),
  Timestamp('2016-04-21 00:00:00'),
  Timestamp('2016-04-22 00:00:00')],
 [Timestamp('2016-12-21 00:00:00'),
  Timestamp('2016-12-22 00:00:00'),
  Timestamp('2016-12-23 00:00:00'),
  Timestamp('2016-12-24 00:00:00'),
  Timestamp('2016-12-25 00:00:00'),
  Timestamp('2016-12-26 00:00:00'),
  Timestamp('2016-12-27 00:00:00'),
  Timestamp('2016-12-28 00:00:00')],
 [Timestamp('2017-01-03 00:00:00'),
  Timestamp('2017-01-04 00:00:00'),
  Timestamp('2017-01-05 00:00:00'),
  Timestamp('2017-01-06 00:00:00')],
 [Timestamp('2017-01-11 00:00:00')],
 [Timestamp('2017-01-17 00:00:00'), Timestamp('2017-01-18 00:00:00')],
 [Timestamp('2017-01-26 00:00:00')],
 [Timestamp('2017-02-02 00:00:00'),
  Timestamp('2017-02-03 00:00:00'),
  Timestamp('2017-02-04 00:00:00'),
  Timestamp('2017-02-05 00:00:00'),